In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = "01_dataset.csv"
source = pd.read_csv(file_path)

In [3]:
df = source.copy()

In [4]:
print(df.head())

   customer_id  label  SHORT_TERM_COUNT  MID_TERM_COUNT  LONG_TERM_COUNT  \
0         1639      1               1.0             1.0              1.0
1        23717      0              10.0             1.0              NaN
2        19474      0               7.0             7.0              NaN
3        15505      0               7.0             1.0              1.0
4         1538      1               NaN             NaN              1.0

   SHORT_TERM_COUNT_BANK  MID_TERM_COUNT_BANK  LONG_TERM_COUNT_BANK  \
0                    1.0                  1.0                   1.0
1                    7.0                  1.0                   1.0
2                    7.0                  NaN                   1.0
3                    NaN                  1.0                   NaN
4                    1.0                  1.0                   1.0

   SHORT_TERM_COUNT_NON_BANK  MID_TERM_COUNT_NON_BANK  ...  \
0                        1.0                      1.0  ...
1                        4.0                      NaN  ...
2                        1.0                      4.0  ...
3                        7.0                      1.0  ...
4                        1.0                      4.0  ...

   ENQUIRIES_FROM_BANK_6M_9M  ENQUIRIES_FROM_BANK_9M_12M  \
0                        NaN                    2.000000
1                   2.000000                    7.000000
2                   7.000000                    5.571429
3                   6.090909                    7.000000
4                   2.000000                    2.000000

   ENQUIRIES_FROM_BANK_6M_12M  ENQUIRIES_FROM_BANK_3M_12M  \
0                    2.000000                    2.000000
1                    2.000000                    2.000000
2                    5.571429                    5.571429
3                         NaN                         NaN
4                    2.000000                    2.000000

   ENQUIRIES_FROM_NON_BANK_3M_6M  ENQUIRIES_FROM_NON_BANK_6M_9M  \
0                       7.000000                       3.666667
1                       7.000000                       7.000000
2                       7.000000                       7.000000
3                       4.500000                       5.333333
4                       3.666667                       7.000000

   ENQUIRIES_FROM_NON_BANK_9M_12M  ENQUIRIES_FROM_NON_BANK_6M_12M  \
0                             7.0                        3.666667
1                             7.0                        7.000000
2                             7.0                        7.000000
3                             7.0                        5.333333
4                             7.0                        7.000000

   ENQUIRIES_FROM_NON_BANK_3M_12M  OUTSTANDING_BAL_ALL_CURRENT
0                        3.666667                    1000000.0
1                        7.000000                          NaN
2                        7.000000                    1000620.0
3                        3.666667                    1000170.0
4                        3.666667                    1000270.0

[5 rows x 124 columns]

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Columns: 124 entries, customer_id to OUTSTANDING_BAL_ALL_CURRENT
dtypes: float64(122), int64(2)
memory usage: 18.9 MB
None

In [6]:
print(df.describe())

        customer_id         label  SHORT_TERM_COUNT  MID_TERM_COUNT  \
count  20000.000000  20000.000000      18000.000000    18000.000000
mean   12805.812050      0.182200          6.040667        3.316833
std     7405.225854      0.386019          3.620554        3.147751
min        0.000000      0.000000          1.000000        1.000000
25%     6374.750000      0.000000          4.000000        1.000000
50%    12840.500000      0.000000          7.000000        1.000000
75%    19206.250000      0.000000          7.000000        4.000000
max    25659.000000      1.000000         25.000000       25.000000

       LONG_TERM_COUNT  SHORT_TERM_COUNT_BANK  MID_TERM_COUNT_BANK  \
count     18000.000000           18000.000000         18000.000000
mean          1.063333               3.177000             1.610500
std           0.446094               2.211548             1.547231
min           1.000000               1.000000             1.000000
25%           1.000000               1.000000             1.000000
50%           1.000000               4.000000             1.000000
75%           1.000000               4.000000             1.000000
max           7.000000              13.000000            22.000000

       LONG_TERM_COUNT_BANK  SHORT_TERM_COUNT_NON_BANK  \
count          18000.000000               18000.000000
mean               1.061333                   3.850500
std                0.437320                   2.550394
min                1.000000                   1.000000
25%                1.000000                   1.000000
50%                1.000000                   4.000000
75%                1.000000                   4.000000
max                7.000000                  16.000000

       MID_TERM_COUNT_NON_BANK  ...  ENQUIRIES_FROM_BANK_6M_9M  \
count             18000.000000  ...               18000.000000
mean                  2.730833  ...                   1.524688
std                   2.519339  ...                   4.182101
min                   1.000000  ...                  -3.000000
25%                   1.000000  ...                  -3.000000
50%                   1.000000  ...                   2.000000
75%                   4.000000  ...                   7.000000
max                  19.000000  ...                   7.000000

       ENQUIRIES_FROM_BANK_9M_12M  ENQUIRIES_FROM_BANK_6M_12M  \
count                18000.000000                18000.000000
mean                     1.956620                    1.531301
std                      4.304385                    3.967109
min                     -3.000000                   -3.000000
25%                     -3.000000                   -3.000000
50%                      2.000000                    2.000000
75%                      7.000000                    5.333333
max                      7.000000                    7.000000

       ENQUIRIES_FROM_BANK_3M_12M  ENQUIRIES_FROM_NON_BANK_3M_6M  \
count                18000.000000                   18000.000000
mean                     1.013238                       6.458641
std                      3.560061                       1.147119
min                     -3.000000                       2.000000
25%                     -3.000000                       7.000000
50%                      2.000000                       7.000000
75%                      3.000000                       7.000000
max                      7.000000                       7.000000

       ENQUIRIES_FROM_NON_BANK_6M_9M  ENQUIRIES_FROM_NON_BANK_9M_12M  \
count                   18000.000000                    18000.000000
mean                        6.591671                        6.691829
std                         1.022613                        0.914260
min                         2.000000                        2.000000
25%                         7.000000                        7.000000
50%                         7.000000                        7.000000
75%                         7.000000                        7.000000
max                         7.000000                        7.000000

       ENQUIRIES_FROM_NON_BANK_6M_12M  ENQUIRIES_FROM_NON_BANK_3M_12M  \
count                    18000.000000                    18000.000000
mean                         6.402545                        6.006104
std                          1.177294                        1.431080
min                          2.000000                        2.000000
25%                          7.000000                        4.500000
50%                          7.000000                        7.000000
75%                          7.000000                        7.000000
max                          7.000000                        7.000000

       OUTSTANDING_BAL_ALL_CURRENT
count                 1.800000e+04
mean                  1.000943e+06
std                   4.007350e+03
min                   1.000000e+06
25%                   1.000100e+06
50%                   1.000290e+06
75%                   1.000770e+06
max                   1.169190e+06

[8 rows x 124 columns]

In [7]:
print(df.isnull().sum())

customer_id                          0
label                                0
SHORT_TERM_COUNT                  2000
MID_TERM_COUNT                    2000
LONG_TERM_COUNT                   2000
                                  ...
ENQUIRIES_FROM_NON_BANK_6M_9M     2000
ENQUIRIES_FROM_NON_BANK_9M_12M    2000
ENQUIRIES_FROM_NON_BANK_6M_12M    2000
ENQUIRIES_FROM_NON_BANK_3M_12M    2000
OUTSTANDING_BAL_ALL_CURRENT       2000
Length: 124, dtype: int64

In [8]:
def fill_Bank_Non_bank(x):
    global df
    df[x] = df[x].fillna(df[x + "_BANK"] + df[x + "_NON_BANK"] - 1)
    df[x + "_BANK"] = df[x + "_BANK"].fillna(df[x] + 1 - df[x + "_NON_BANK"])
    df[x + "_NON_BANK"] = df[x + "_NON_BANK"].fillna(df[x] + 1 - df[x + "_BANK"])
    return

Bank_Non_bank_List = ['LONG_TERM_COUNT', 'SHORT_TERM_COUNT', 'NUMBER_OF_LOANS', 'NUMBER_OF_CREDIT_CARDS', 'NUMBER_OF_RELATIONSHIP', 'MID_TERM_COUNT']

def Solve1():
    for name in Bank_Non_bank_List:
        fill_Bank_Non_bank(name)
    return

# print(df)

In [9]:
def fill_Different_features(x, y, z):
    global df
    df[x] = df[x].fillna(df[y] + df[z] - 1)
    df[y] = df[y].fillna(df[x] + 1 - df[z])
    df[z] = df[z].fillna(df[x] + 1 - df[y])
    return

def Solve2():
    fill_Different_features('NUMBER_OF_RELATIONSHIP', 'NUMBER_OF_LOANS', 'NUMBER_OF_CREDIT_CARDS')
    fill_Different_features('NUMBER_OF_RELATIONSHIP_BANK', 'NUMBER_OF_LOANS_BANK', 'NUMBER_OF_CREDIT_CARDS_BANK')
    fill_Different_features('NUMBER_OF_RELATIONSHIP_NON_BANK', 'NUMBER_OF_LOANS_NON_BANK', 'NUMBER_OF_CREDIT_CARDS_NON_BANK')
    return

# print(df)

In [10]:
def fill_Different_features_2(x, y, z, t):
    global df
    df[t] = df[t].fillna(df[x] + df[y] + df[z] - 2)
    df[x] = df[x].fillna(df[t] + 2 - (df[y] + df[z]))
    df[y] = df[y].fillna(df[t] + 2 - (df[x] + df[z]))
    df[z] = df[z].fillna(df[t] + 2 - (df[x] + df[y]))
    return


def Solve3():
    fill_Different_features_2('SHORT_TERM_COUNT', 'MID_TERM_COUNT', 'LONG_TERM_COUNT', 'NUMBER_OF_LOANS')
    fill_Different_features_2('SHORT_TERM_COUNT_BANK', 'MID_TERM_COUNT_BANK', 'LONG_TERM_COUNT_BANK', 'NUMBER_OF_LOANS_BANK')
    fill_Different_features_2('SHORT_TERM_COUNT_NON_BANK', 'MID_TERM_COUNT_NON_BANK', 'LONG_TERM_COUNT_NON_BANK', 'NUMBER_OF_LOANS_NON_BANK')
    return

In [11]:
Solve1()
Solve2()
Solve1()
Solve3()
Solve1()
Solve2()
Solve1()
Solve3()
Solve1()

In [12]:
for name in Bank_Non_bank_List:
    print(name, ':', df[name].isnull().sum())
    print(name + "_BANK", ':', df[name + "_BANK"].isnull().sum())
    print(name + "_NON_BANK", ':', df[name + "_NON_BANK"].isnull().sum())

LONG_TERM_COUNT : 7
LONG_TERM_COUNT_BANK : 8
LONG_TERM_COUNT_NON_BANK : 7
SHORT_TERM_COUNT : 8
SHORT_TERM_COUNT_BANK : 8
SHORT_TERM_COUNT_NON_BANK : 8
NUMBER_OF_LOANS : 0
NUMBER_OF_LOANS_BANK : 0
NUMBER_OF_LOANS_NON_BANK : 0
NUMBER_OF_CREDIT_CARDS : 3
NUMBER_OF_CREDIT_CARDS_BANK : 3
NUMBER_OF_CREDIT_CARDS_NON_BANK : 4
NUMBER_OF_RELATIONSHIP : 3
NUMBER_OF_RELATIONSHIP_BANK : 3
NUMBER_OF_RELATIONSHIP_NON_BANK : 4
MID_TERM_COUNT : 7
MID_TERM_COUNT_BANK : 8
MID_TERM_COUNT_NON_BANK : 3

In [13]:
def NaN_NullCheck(row):
    for name in Bank_Non_bank_List:
        if pd.isnull(row[name]): return True
    return False

temp = df[df.apply(NaN_NullCheck, axis=1)]

df = df[~df.apply(NaN_NullCheck, axis=1)]

In [14]:
# Chỉnh sửa giá trị NaN cho cột 12M
df['NUM_NEW_LOAN_TAKEN_12M'] = df['NUM_NEW_LOAN_TAKEN_12M'].fillna(df['NUM_NEW_LOAN_TAKEN_BANK_12M'] + df['NUM_NEW_LOAN_TAKEN_NON_BANK_12M'])
df['NUM_NEW_LOAN_TAKEN_BANK_12M'] = df['NUM_NEW_LOAN_TAKEN_BANK_12M'].fillna(df['NUM_NEW_LOAN_TAKEN_12M'] - df['NUM_NEW_LOAN_TAKEN_NON_BANK_12M'])
df['NUM_NEW_LOAN_TAKEN_NON_BANK_12M'] = df['NUM_NEW_LOAN_TAKEN_NON_BANK_12M'].fillna(df['NUM_NEW_LOAN_TAKEN_12M'] - df['NUM_NEW_LOAN_TAKEN_BANK_12M'])

# Chỉnh sửa giá trị NaN cho cột 9M
df['NUM_NEW_LOAN_TAKEN_9M'] = df['NUM_NEW_LOAN_TAKEN_9M'].fillna(df['NUM_NEW_LOAN_TAKEN_BANK_9M'] + df['NUM_NEW_LOAN_TAKEN_NON_BANK_9M'])
df['NUM_NEW_LOAN_TAKEN_BANK_9M'] = df['NUM_NEW_LOAN_TAKEN_BANK_9M'].fillna(df['NUM_NEW_LOAN_TAKEN_9M'] - df['NUM_NEW_LOAN_TAKEN_NON_BANK_9M'])
df['NUM_NEW_LOAN_TAKEN_NON_BANK_9M'] = df['NUM_NEW_LOAN_TAKEN_NON_BANK_9M'].fillna(df['NUM_NEW_LOAN_TAKEN_9M'] - df['NUM_NEW_LOAN_TAKEN_BANK_9M'])

# Chỉnh sửa giá trị NaN cho cột 6M
df['NUM_NEW_LOAN_TAKEN_6M'] = df['NUM_NEW_LOAN_TAKEN_6M'].fillna(df['NUM_NEW_LOAN_TAKEN_BANK_6M'] + df['NUM_NEW_LOAN_TAKEN_NON_BANK_6M'])
df['NUM_NEW_LOAN_TAKEN_BANK_6M'] = df['NUM_NEW_LOAN_TAKEN_BANK_6M'].fillna(df['NUM_NEW_LOAN_TAKEN_6M'] - df['NUM_NEW_LOAN_TAKEN_NON_BANK_6M'])
df['NUM_NEW_LOAN_TAKEN_NON_BANK_6M'] = df['NUM_NEW_LOAN_TAKEN_NON_BANK_6M'].fillna(df['NUM_NEW_LOAN_TAKEN_6M'] - df['NUM_NEW_LOAN_TAKEN_BANK_6M'])

# Chỉnh sửa giá trị NaN cho cột 3M
df['NUM_NEW_LOAN_TAKEN_3M'] = df['NUM_NEW_LOAN_TAKEN_3M'].fillna(df['NUM_NEW_LOAN_TAKEN_BANK_3M'] + df['NUM_NEW_LOAN_TAKEN_NON_BANK_3M'])
df['NUM_NEW_LOAN_TAKEN_BANK_3M'] = df['NUM_NEW_LOAN_TAKEN_BANK_3M'].fillna(df['NUM_NEW_LOAN_TAKEN_3M'] - df['NUM_NEW_LOAN_TAKEN_NON_BANK_3M'])
df['NUM_NEW_LOAN_TAKEN_NON_BANK_3M'] = df['NUM_NEW_LOAN_TAKEN_NON_BANK_3M'].fillna(df['NUM_NEW_LOAN_TAKEN_3M'] - df['NUM_NEW_LOAN_TAKEN_BANK_3M'])

In [15]:
print(df)

       customer_id  label  SHORT_TERM_COUNT  MID_TERM_COUNT  LONG_TERM_COUNT  \
0             1639      1               1.0             1.0              1.0
1            23717      0              10.0             1.0              1.0
2            19474      0               7.0             7.0              1.0
3            15505      0               7.0             1.0              1.0
4             1538      1               1.0             4.0              1.0
...            ...    ...               ...             ...              ...
19995        13215      0               4.0             1.0              1.0
19996          938      0               4.0             1.0              1.0
19997        11823      0               7.0             1.0              1.0
19998        14609      0              10.0             4.0              1.0
19999        18772      1               1.0             4.0              1.0

       SHORT_TERM_COUNT_BANK  MID_TERM_COUNT_BANK  LONG_TERM_COUNT_BANK  \
0                        1.0                  1.0                   1.0
1                        7.0                  1.0                   1.0
2                        7.0                  4.0                   1.0
3                        1.0                  1.0                   1.0
4                        1.0                  1.0                   1.0
...                      ...                  ...                   ...
19995                    4.0                  1.0                   1.0
19996                    1.0                  1.0                   1.0
19997                    4.0                  1.0                   1.0
19998                   10.0                  1.0                   1.0
19999                    1.0                  1.0                   1.0

       SHORT_TERM_COUNT_NON_BANK  MID_TERM_COUNT_NON_BANK  ...  \
0                            1.0                      1.0  ...
1                            4.0                      1.0  ...
2                            1.0                      4.0  ...
3                            7.0                      1.0  ...
4                            1.0                      4.0  ...
...                          ...                      ...  ...
19995                        1.0                      1.0  ...
19996                        4.0                      1.0  ...
19997                        4.0                      1.0  ...
19998                        1.0                      4.0  ...
19999                        1.0                      4.0  ...

       ENQUIRIES_FROM_BANK_6M_9M  ENQUIRIES_FROM_BANK_9M_12M  \
0                            NaN                    2.000000
1                       2.000000                    7.000000
2                       7.000000                    5.571429
3                       6.090909                    7.000000
4                       2.000000                    2.000000
...                          ...                         ...
19995                  -3.000000                         NaN
19996                   2.000000                         NaN
19997                        NaN                    7.000000
19998                   7.000000                    4.857143
19999                   2.000000                         NaN

       ENQUIRIES_FROM_BANK_6M_12M  ENQUIRIES_FROM_BANK_3M_12M  \
0                        2.000000                    2.000000
1                        2.000000                    2.000000
2                        5.571429                    5.571429
3                             NaN                         NaN
4                        2.000000                    2.000000
...                           ...                         ...
19995                         NaN                   -3.000000
19996                    2.000000                    2.000000
19997                    7.000000                    4.222222
19998                    4.857143                    3.428571
19999                         NaN                    2.000000

       ENQUIRIES_FROM_NON_BANK_3M_6M  ENQUIRIES_FROM_NON_BANK_6M_9M  \
0                           7.000000                       3.666667
1                           7.000000                       7.000000
2                           7.000000                       7.000000
3                           4.500000                       5.333333
4                           3.666667                       7.000000
...                              ...                            ...
19995                            NaN                       7.000000
19996                       7.000000                       7.000000
19997                       7.000000                       7.000000
19998                       7.000000                       7.000000
19999                            NaN                       7.000000

       ENQUIRIES_FROM_NON_BANK_9M_12M  ENQUIRIES_FROM_NON_BANK_6M_12M  \
0                            7.000000                        3.666667
1                            7.000000                        7.000000
2                            7.000000                        7.000000
3                            7.000000                        5.333333
4                            7.000000                        7.000000
...                               ...                             ...
19995                        7.000000                        7.000000
19996                             NaN                        7.000000
19997                        5.333333                        5.333333
19998                        7.000000                        7.000000
19999                        7.000000                        7.000000

       ENQUIRIES_FROM_NON_BANK_3M_12M  OUTSTANDING_BAL_ALL_CURRENT
0                            3.666667                    1000000.0
1                            7.000000                          NaN
2                            7.000000                    1000620.0
3                            3.666667                    1000170.0
4                            3.666667                    1000270.0
...                               ...                          ...
19995                        7.000000                    1000010.0
19996                        7.000000                    1000020.0
19997                        5.333333                    1001060.0
19998                        7.000000                    1000950.0
19999                        7.000000                    1000100.0

[19986 rows x 124 columns]

In [16]:
my_list = ['NUM_NEW_LOAN_TAKEN_3M','NUM_NEW_LOAN_TAKEN_6M','NUM_NEW_LOAN_TAKEN_9M','NUM_NEW_LOAN_TAKEN_12M',
           'NUM_NEW_LOAN_TAKEN_BANK_3M','NUM_NEW_LOAN_TAKEN_BANK_6M','NUM_NEW_LOAN_TAKEN_BANK_9M','NUM_NEW_LOAN_TAKEN_BANK_12M',
           'NUM_NEW_LOAN_TAKEN_NON_BANK_3M','NUM_NEW_LOAN_TAKEN_NON_BANK_6M','NUM_NEW_LOAN_TAKEN_NON_BANK_9M','NUM_NEW_LOAN_TAKEN_NON_BANK_12M']

def NaN_NullCheck2(row):
    for name in my_list:
        if pd.isnull(row[name]): return True
    return False

temp2 = df[df.apply(NaN_NullCheck2, axis=1)]

df = df[~df.apply(NaN_NullCheck2, axis=1)]

In [17]:
print(temp2.iloc[:, 20:33])

       NUM_NEW_LOAN_TAKEN_3M  NUM_NEW_LOAN_TAKEN_6M  NUM_NEW_LOAN_TAKEN_9M  \
0                        1.0                    1.0                    NaN
5                        4.0                    4.0                    4.0
10                       1.0                    2.0                    4.0
13                       4.0                    NaN                    4.0
15                       NaN                   16.0                   19.0
...                      ...                    ...                    ...
19957                    NaN                    4.0                    4.0
19962                    4.0                    4.0                    NaN
19965                    8.0                   10.0                    NaN
19972                    7.0                    NaN                    7.0
19996                    1.0                    1.0                    4.0

       NUM_NEW_LOAN_TAKEN_12M  NUM_NEW_LOAN_TAKEN_BANK_3M  \
0                         1.0                         1.0
5                         8.0                         4.0
10                        4.0                         NaN
13                        4.0                         4.0
15                       22.0                        10.0
...                       ...                         ...
19957                     7.0                         4.0
19962                     4.0                         4.0
19965                    10.0                         4.0
19972                     7.0                         7.0
19996                     4.0                         1.0

       NUM_NEW_LOAN_TAKEN_BANK_6M  NUM_NEW_LOAN_TAKEN_BANK_9M  \
0                             1.0                         1.0
5                             4.0                         NaN
10                            1.0                         4.0
13                            NaN                         4.0
15                           16.0                        19.0
...                           ...                         ...
19957                         4.0                         4.0
19962                         NaN                         4.0
19965                        10.0                        10.0
19972                         7.0                         0.0
19996                         1.0                         NaN

       NUM_NEW_LOAN_TAKEN_BANK_12M  NUM_NEW_LOAN_TAKEN_NON_BANK_3M  \
0                              1.0                             1.0
5                              4.0                             4.0
10                             0.0                             NaN
13                             4.0                             0.0
15                             0.0                             NaN
...                            ...                             ...
19957                          NaN                             NaN
19962                          4.0                             4.0
19965                         10.0                             4.0
19972                          7.0                             7.0
19996                          4.0                             1.0

       NUM_NEW_LOAN_TAKEN_NON_BANK_6M  NUM_NEW_LOAN_TAKEN_NON_BANK_9M  \
0                                 1.0                             NaN
5                                 4.0                             NaN
10                                1.0                             4.0
13                                4.0                             4.0
15                               16.0                            19.0
...                               ...                             ...
19957                             4.0                             4.0
19962                             NaN                             NaN
19965                            10.0                             NaN
19972                             NaN                             7.0
19996                             1.0                             NaN

       NUM_NEW_LOAN_TAKEN_NON_BANK_12M  OUTSTANDING_BAL_LOAN_CURRENT
0                                  1.0                     1000000.0
5                                  4.0                     1000100.0
10                                 4.0                     1000130.0
13                                 4.0                     1000030.0
15                                22.0                           NaN
...                                ...                           ...
19957                              NaN                     1000170.0
19962                              4.0                     1000160.0
19965                             10.0                     1000430.0
19972                              7.0                     1000070.0
19996                              4.0                     1000020.0

[2129 rows x 13 columns]

In [18]:
for name in my_list:
    print(name, ':', df[name].isnull().sum())

NUM_NEW_LOAN_TAKEN_3M : 0
NUM_NEW_LOAN_TAKEN_6M : 0
NUM_NEW_LOAN_TAKEN_9M : 0
NUM_NEW_LOAN_TAKEN_12M : 0
NUM_NEW_LOAN_TAKEN_BANK_3M : 0
NUM_NEW_LOAN_TAKEN_BANK_6M : 0
NUM_NEW_LOAN_TAKEN_BANK_9M : 0
NUM_NEW_LOAN_TAKEN_BANK_12M : 0
NUM_NEW_LOAN_TAKEN_NON_BANK_3M : 0
NUM_NEW_LOAN_TAKEN_NON_BANK_6M : 0
NUM_NEW_LOAN_TAKEN_NON_BANK_9M : 0
NUM_NEW_LOAN_TAKEN_NON_BANK_12M : 0

In [19]:
def fill_Different_features_outstanding(x, y, z):
    global df
    df[x] = df[x].fillna(df[y] + df[z] - 10**6)
    df[y] = df[y].fillna(df[x] + 10**6 - df[z])
    df[z] = df[z].fillna(df[x] + 10**6 - df[y])
    return

In [20]:
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_3M', 'OUTSTANDING_BAL_LOAN_3M', 'OUTSTANDING_BAL_CC_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_6M', 'OUTSTANDING_BAL_LOAN_6M', 'OUTSTANDING_BAL_CC_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_9M', 'OUTSTANDING_BAL_LOAN_9M', 'OUTSTANDING_BAL_CC_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_CC_12M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_CURRENT', 'OUTSTANDING_BAL_LOAN_CURRENT', 'OUTSTANDING_BAL_CC_CURRENT')

# print(df)

In [21]:
my_list2 = ['OUTSTANDING_BAL_LOAN_3M', 'OUTSTANDING_BAL_LOAN_6M', 'OUTSTANDING_BAL_LOAN_9M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_ALL_CURRENT']
for name in my_list2:
    print(name, ':', df[name].isnull().sum())

OUTSTANDING_BAL_LOAN_3M : 341
OUTSTANDING_BAL_LOAN_6M : 301
OUTSTANDING_BAL_LOAN_9M : 294
OUTSTANDING_BAL_LOAN_12M : 338
OUTSTANDING_BAL_ALL_CURRENT : 369

In [22]:
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_3M_6M', 'OUTSTANDING_BAL_LOAN_6M', 'OUTSTANDING_BAL_LOAN_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_6M_9M', 'OUTSTANDING_BAL_LOAN_9M', 'OUTSTANDING_BAL_LOAN_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_9M_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_LOAN_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_6M_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_LOAN_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_3M_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_LOAN_3M')

fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_3M_6M', 'OUTSTANDING_BAL_LOAN_6M', 'OUTSTANDING_BAL_LOAN_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_6M_9M', 'OUTSTANDING_BAL_LOAN_9M', 'OUTSTANDING_BAL_LOAN_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_9M_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_LOAN_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_6M_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_LOAN_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_LOAN_3M_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_LOAN_3M')

In [23]:
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_3M_6M', 'OUTSTANDING_BAL_CC_6M', 'OUTSTANDING_BAL_CC_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_6M_9M', 'OUTSTANDING_BAL_CC_9M', 'OUTSTANDING_BAL_CC_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_9M_12M', 'OUTSTANDING_BAL_CC_12M', 'OUTSTANDING_BAL_CC_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_6M_12M', 'OUTSTANDING_BAL_CC_12M', 'OUTSTANDING_BAL_CC_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_3M_12M', 'OUTSTANDING_BAL_CC_12M', 'OUTSTANDING_BAL_CC_3M')

fill_Different_features_outstanding('OUTSTANDING_BAL_CC_3M_6M', 'OUTSTANDING_BAL_CC_6M', 'OUTSTANDING_BAL_CC_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_6M_9M', 'OUTSTANDING_BAL_CC_9M', 'OUTSTANDING_BAL_CC_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_9M_12M', 'OUTSTANDING_BAL_CC_12M', 'OUTSTANDING_BAL_CC_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_6M_12M', 'OUTSTANDING_BAL_CC_12M', 'OUTSTANDING_BAL_CC_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_CC_3M_12M', 'OUTSTANDING_BAL_CC_12M', 'OUTSTANDING_BAL_CC_3M')

In [24]:
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_3M_6M', 'OUTSTANDING_BAL_ALL_6M', 'OUTSTANDING_BAL_ALL_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_6M_9M', 'OUTSTANDING_BAL_ALL_9M', 'OUTSTANDING_BAL_ALL_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_9M_12M', 'OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_ALL_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_6M_12M', 'OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_ALL_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_3M_12M', 'OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_ALL_3M')

fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_3M_6M', 'OUTSTANDING_BAL_ALL_6M', 'OUTSTANDING_BAL_ALL_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_6M_9M', 'OUTSTANDING_BAL_ALL_9M', 'OUTSTANDING_BAL_ALL_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_9M_12M', 'OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_ALL_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_6M_12M', 'OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_ALL_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_3M_12M', 'OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_ALL_3M')

In [25]:
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_3M', 'OUTSTANDING_BAL_LOAN_3M', 'OUTSTANDING_BAL_CC_3M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_6M', 'OUTSTANDING_BAL_LOAN_6M', 'OUTSTANDING_BAL_CC_6M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_9M', 'OUTSTANDING_BAL_LOAN_9M', 'OUTSTANDING_BAL_CC_9M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_LOAN_12M', 'OUTSTANDING_BAL_CC_12M')
fill_Different_features_outstanding('OUTSTANDING_BAL_ALL_CURRENT', 'OUTSTANDING_BAL_LOAN_CURRENT', 'OUTSTANDING_BAL_CC_CURRENT')

In [26]:
my_list2 = ['OUTSTANDING_BAL_ALL_3M', 'OUTSTANDING_BAL_ALL_6M', 'OUTSTANDING_BAL_ALL_9M', 'OUTSTANDING_BAL_ALL_12M', 'OUTSTANDING_BAL_ALL_3M_12M',
            'OUTSTANDING_BAL_ALL_3M_6M', 'OUTSTANDING_BAL_ALL_6M_9M', 'OUTSTANDING_BAL_ALL_9M_12M', 'OUTSTANDING_BAL_ALL_6M_12M', 'OUTSTANDING_BAL_ALL_3M_12M']

for name in my_list2:
    print(name, ':', df[name].isnull().sum())

OUTSTANDING_BAL_ALL_3M : 0
OUTSTANDING_BAL_ALL_6M : 0
OUTSTANDING_BAL_ALL_9M : 0
OUTSTANDING_BAL_ALL_12M : 0
OUTSTANDING_BAL_ALL_3M_12M : 2
OUTSTANDING_BAL_ALL_3M_6M : 2
OUTSTANDING_BAL_ALL_6M_9M : 0
OUTSTANDING_BAL_ALL_9M_12M : 0
OUTSTANDING_BAL_ALL_6M_12M : 0
OUTSTANDING_BAL_ALL_3M_12M : 2

In [27]:
def NaN_NullCheck3(row):
    for name in my_list2:
        if pd.isnull(row[name]): return True
    return False

df = df[~df.apply(NaN_NullCheck3, axis=1)]

for name in my_list2:
    print(name, ':', df[name].isnull().sum())

OUTSTANDING_BAL_ALL_3M : 0
OUTSTANDING_BAL_ALL_6M : 0
OUTSTANDING_BAL_ALL_9M : 0
OUTSTANDING_BAL_ALL_12M : 0
OUTSTANDING_BAL_ALL_3M_12M : 0
OUTSTANDING_BAL_ALL_3M_6M : 0
OUTSTANDING_BAL_ALL_6M_9M : 0
OUTSTANDING_BAL_ALL_9M_12M : 0
OUTSTANDING_BAL_ALL_6M_12M : 0
OUTSTANDING_BAL_ALL_3M_12M : 0

In [28]:
X = df.iloc[:, [2, 3, 11, 14, 17, 20, 21, 22, 23, 55, 56, 57, 58]]
y = df.iloc[:, 1]

In [29]:
X['OUTSTANDING_BAL_ALL_3M_12M'] = X['OUTSTANDING_BAL_ALL_3M_6M'] + X['OUTSTANDING_BAL_ALL_6M_9M'] + X['OUTSTANDING_BAL_ALL_9M_12M']
X.drop(columns=['OUTSTANDING_BAL_ALL_3M_6M', 'OUTSTANDING_BAL_ALL_6M_9M', 'OUTSTANDING_BAL_ALL_9M_12M', 'OUTSTANDING_BAL_ALL_6M_12M'], inplace=True)
X.drop(columns=['NUMBER_OF_RELATIONSHIP'], inplace=True)

print(X)

       SHORT_TERM_COUNT  MID_TERM_COUNT  NUMBER_OF_LOANS  \
1                  10.0             1.0             10.0
2                   7.0             7.0             13.0
3                   7.0             1.0              7.0
4                   1.0             4.0              4.0
6                   4.0            10.0             13.0
...                 ...             ...              ...
19994               1.0             1.0              1.0
19995               4.0             1.0              4.0
19997               7.0             1.0              7.0
19998              10.0             4.0             13.0
19999               1.0             4.0              4.0

       NUMBER_OF_CREDIT_CARDS  NUM_NEW_LOAN_TAKEN_3M  NUM_NEW_LOAN_TAKEN_6M  \
1                        10.0                    7.0                   10.0
2                         7.0                    7.0                   10.0
3                         7.0                    1.0                    1.0
4                         4.0                    1.0                    4.0
6                        16.0                    4.0                    8.0
...                       ...                    ...                    ...
19994                     1.0                    1.0                    2.0
19995                     1.0                    1.0                    1.0
19997                    13.0                    1.0                    4.0
19998                    13.0                   10.0                   13.0
19999                     4.0                    1.0                    2.0

       NUM_NEW_LOAN_TAKEN_9M  NUM_NEW_LOAN_TAKEN_12M  \
1                       10.0                    13.0
2                       13.0                    13.0
3                        4.0                     4.0
4                        4.0                     4.0
6                       14.0                     7.0
...                      ...                     ...
19994                    2.0                     1.0
19995                    1.0                     4.0
19997                    7.0                     7.0
19998                   13.0                    16.0
19999                    4.0                     4.0

       OUTSTANDING_BAL_ALL_3M_12M
1                    3.000463e+06
2                    3.000037e+06
3                    3.000215e+06
4                    3.000040e+06
6                    3.000028e+06
...                           ...
19994                3.000003e+06
19995                3.000041e+06
19997                3.000029e+06
19998                3.001464e+06
19999                3.000032e+06

[17855 rows x 9 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_19684\3836256895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['OUTSTANDING_BAL_ALL_3M_12M'] = X['OUTSTANDING_BAL_ALL_3M_6M'] + X['OUTSTANDING_BAL_ALL_6M_9M'] + X['OUTSTANDING_BAL_ALL_9M_12M']
C:\Users\Admin\AppData\Local\Temp\ipykernel_19684\3836256895.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(columns=['OUTSTANDING_BAL_ALL_3M_6M', 'OUTSTANDING_BAL_ALL_6M_9M', 'OUTSTANDING_BAL_ALL_9M_12M', 'OUTSTANDING_BAL_ALL_6M_12M'], inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_19684\3836256895.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(columns=['NUMBER_OF_RELATIONSHIP'], inplace=True)

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X = pd.DataFrame(X_scaled, columns=X.columns)

print(X)

       SHORT_TERM_COUNT  MID_TERM_COUNT  NUMBER_OF_LOANS  \
0              1.087495       -0.733444         0.333928
1              0.262424        1.161317         0.972355
2              0.262424       -0.733444        -0.304500
3             -1.387718        0.213937        -0.942928
4             -0.562647        2.108697         0.972355
...                 ...             ...              ...
17850         -1.387718       -0.733444        -1.581356
17851         -0.562647       -0.733444        -0.942928
17852          0.262424       -0.733444        -0.304500
17853          1.087495        0.213937         0.972355
17854         -1.387718        0.213937        -0.942928

       NUMBER_OF_CREDIT_CARDS  NUM_NEW_LOAN_TAKEN_3M  NUM_NEW_LOAN_TAKEN_6M  \
0                    0.905429               0.848694               0.920067
1                    0.332760               0.848694               0.920067
2                    0.332760              -0.867210              -1.129423
3                   -0.239908              -0.867210              -0.446259
4                    2.050766              -0.009258               0.464625
...                       ...                    ...                    ...
17850               -0.812577              -0.867210              -0.901702
17851               -0.812577              -0.867210              -1.129423
17852                1.478097              -0.867210              -0.446259
17853                1.478097               1.706647               1.603230
17854               -0.239908              -0.867210              -0.901702

       NUM_NEW_LOAN_TAKEN_9M  NUM_NEW_LOAN_TAKEN_12M  \
0                   0.561907                0.920543
1                   1.163229                0.920543
2                  -0.640736               -0.726765
3                  -0.640736               -0.726765
4                   1.363670               -0.177663
...                      ...                     ...
17850              -1.041618               -1.275868
17851              -1.242058               -0.726765
17852              -0.039415               -0.177663
17853               1.163229                1.469646
17854              -0.640736               -0.726765

       OUTSTANDING_BAL_ALL_3M_12M
0                        0.012392
1                       -0.138219
2                       -0.075342
3                       -0.137127
4                       -0.141456
...                           ...
17850                   -0.150329
17851                   -0.136807
17852                   -0.141140
17853                    0.366369
17854                   -0.140092

[17855 rows x 9 columns]

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

GRID SEARCH CV for LOGISTIC REGRESSION

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import recall_score

# Define the model and parameter grid
model = LogisticRegression()
param_grid = {
    'penalty': ['l1', 'l2'],
    'C': [0.001, 0.01, 0.1, 1, 10, 100],
    'solver': ['liblinear']  # Suitable for both l1 and l2 penalty
}

# Create GridSearchCV object with recall scoring
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, scoring='recall', cv=5)

# Fit the grid search to your training data
grid_search.fit(X_train, y_train)

# Print the best parameters and the best score
print("Best Parameters:", grid_search.best_params_)
print("Best Recall Score:", grid_search.best_score_)

# Evaluate the best model on the test set
y_pred = grid_search.predict(X_test)
recall = recall_score(y_test, y_pred)
print("Recall on Test Set:", recall)

Best Parameters: {'C': 10, 'penalty': 'l1', 'solver': 'liblinear'}
Best Recall Score: 0.3978647764449291
Recall on Test Set: 0.3673780487804878

LOGISTIC REGRESSION MODEL

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Create a logistic regression model
model_lr = LogisticRegression(max_iter=3000, C=10, penalty='l1', solver='liblinear', random_state=42)

# Train the model
model_lr.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model_lr.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

print(classification_report(y_test, y_pred))

Accuracy: 0.8826659199103892
              precision    recall  f1-score   support

           0       0.88      1.00      0.93      2915
           1       0.98      0.37      0.53       656

    accuracy                           0.88      3571
   macro avg       0.93      0.68      0.73      3571
weighted avg       0.90      0.88      0.86      3571

GRID SEARCH CV for DECISION TREE CLASSIFIER

In [34]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import recall_score

# Define the model and parameter grid
model = DecisionTreeClassifier(random_state=42)
param_grid = {
    'criterion': ['gini', 'entropy'],
    'min_samples_split': [2, 3, 4],
    'min_samples_leaf': [1, 2, 3]
}

# Create GridSearchCV object with recall scoring
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, scoring='recall', cv=5)

# Fit the grid search to your training data
grid_search.fit(X_train, y_train)

# Print the best parameters and the best score
print("Best Parameters:", grid_search.best_params_)
print("Best Recall Score:", grid_search.best_score_)

# Evaluate the best model on the test set
y_pred = grid_search.predict(X_test)
recall = recall_score(y_test, y_pred)
print("Recall on Test Set:", recall)

Best Parameters: {'criterion': 'entropy', 'min_samples_leaf': 1, 'min_samples_split': 2}
Best Recall Score: 0.507618320610687
Recall on Test Set: 0.4801829268292683

DECISION TREE CLASSIFIER MODEL

In [35]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

# Create a Decision Tree model
model_dt = DecisionTreeClassifier(criterion='gini', max_depth=3000, min_samples_leaf=1, min_samples_split=2, random_state=42)

# Train the model
model_dt.fit(X_train, y_train)

# Make predictions on the test set
y_pred_dt = model_dt.predict(X_test)

# Evaluate the model
accuracy_dt = accuracy_score(y_test, y_pred_dt)
print(f"Decision Tree Accuracy: {accuracy_dt}")

print(classification_report(y_test, y_pred_dt))

Decision Tree Accuracy: 0.8129375525063007
              precision    recall  f1-score   support

           0       0.89      0.89      0.89      2915
           1       0.49      0.49      0.49       656

    accuracy                           0.81      3571
   macro avg       0.69      0.69      0.69      3571
weighted avg       0.81      0.81      0.81      3571

RANDOM FOREST CLASSIFIER MODEL

In [36]:
from sklearn.ensemble import RandomForestClassifier

# Create a Random Forest model
model_rf = RandomForestClassifier(criterion='gini', n_estimators=3, max_depth=3000, min_samples_leaf=1, min_samples_split=2, random_state=42)

# Train the model
model_rf.fit(X_train, y_train)

# Make predictions on the test set
y_pred_rf = model_rf.predict(X_test)

# Evaluate the model
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print(f"Random Forest Accuracy: {accuracy_rf}")

print(classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.8479417530103612
              precision    recall  f1-score   support

           0       0.89      0.93      0.91      2915
           1       0.61      0.48      0.54       656

    accuracy                           0.85      3571
   macro avg       0.75      0.71      0.72      3571
weighted avg       0.84      0.85      0.84      3571

XG BOOST CLASSIFIER MODEL

In [37]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

# Create an XGBoost classifier
model_xgb = XGBClassifier(colsample_bytree=1, learning_rate=0.01, max_depth=1000, n_estimators=1000, subsample=1, random_state=42)

# Train the model
model_xgb.fit(X_train, y_train)

# Make predictions on the test set
y_pred_xgb = model_xgb.predict(X_test)

# Evaluate the model
accuracy_xgb = accuracy_score(y_test, y_pred_xgb)
print(f"XGBoost Accuracy: {accuracy_xgb}")

print(classification_report(y_test, y_pred_xgb))

XGBoost Accuracy: 0.8706244749369925
              precision    recall  f1-score   support

           0       0.89      0.97      0.92      2915
           1       0.75      0.44      0.56       656

    accuracy                           0.87      3571
   macro avg       0.82      0.71      0.74      3571
weighted avg       0.86      0.87      0.86      3571

GAUSSIAN NAIVE BAYES MODEL

In [38]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

# Create a Gaussian Naive Bayes model
model_nb = GaussianNB()

# Train the model
model_nb.fit(X_train, y_train)

# Make predictions on the test set
y_pred_nb = model_nb.predict(X_test)

# Evaluate the model
accuracy_nb = accuracy_score(y_test, y_pred_nb)
print(f"Naive Bayes Accuracy: {accuracy_nb}")

print(classification_report(y_test, y_pred_nb))

Naive Bayes Accuracy: 0.6605992719126296
              precision    recall  f1-score   support

           0       0.91      0.64      0.76      2915
           1       0.32      0.73      0.44       656

    accuracy                           0.66      3571
   macro avg       0.62      0.69      0.60      3571
weighted avg       0.80      0.66      0.70      3571

In [39]:
from sklearn.metrics import accuracy_score, classification_report, recall_score, precision_score, f1_score

models = {
    "Logistic Regression": model_lr,  # Assuming 'model' is your trained Logistic Regression model
    "Decision Tree": model_dt,       # Assuming 'model_dt' is your trained Decision Tree model
    "Random Forest": model_rf,      # Assuming 'model_rf' is your trained Random Forest model
    "XGBoost": model_xgb,          # Assuming 'model_xgb' is your trained XGBoost model
    "Naive Bayes": model_nb        # Assuming 'model_nb' is your trained Naive Bayes model
}

data = []
for model_name, model in models.items():
    y_pred = model.predict(X_test)  # Assuming 'X_test' is your test data
    accuracy = accuracy_score(y_test, y_pred)  # Assuming 'y_test' is your test labels
    recall = recall_score(y_test, y_pred, average='macro')  # Macro average for recall
    precision = precision_score(y_test, y_pred, average='macro', zero_division=1) # Macro average for precision (handle zero division)
    f1 = f1_score(y_test, y_pred, average='macro')  # Macro average for F1-score
    data.append([model_name, accuracy, recall, precision, f1])

# Create a Pandas DataFrame for the table
df_scores = pd.DataFrame(data, columns=["Model", "Accuracy", "Recall (macro avg)", "Precision (macro avg)", "F1-Score (macro avg)"])

# Display the table
display(df_scores)

,Model,Accuracy,Recall (macro avg),Precision (macro avg),F1-Score (macro avg)
0,Logistic Regression,0.882666,0.683003,0.929449,0.733912
1,Decision Tree,0.812938,0.688137,0.688137,0.688137
2,Random Forest,0.847942,0.706034,0.748730,0.723436
3,XGBoost,0.870624,0.705161,0.817664,0.740854
4,Naive Bayes,0.660599,0.688743,0.615812,0.599270

In [40]:
from sklearn.metrics import roc_auc_score, roc_curve
import matplotlib.pyplot as plt
import numpy as np

def calculate_metrics(model, X_test_pca, y_test):
    y_pred_prob = model.predict_proba(X_test_pca)[:, 1]  # Probabilities for the positive class

    # AUC
    auc = roc_auc_score(y_test, y_pred_prob)

    # Gini
    gini = 2 * auc - 1

    # KS
    fpr, tpr, thresholds = roc_curve(y_test, y_pred_prob)
    ks = np.max(tpr - fpr)

    # Return the metrics as needed
    return {
        'auc': auc,
        'gini': gini,
        'ks': ks
    }

In [42]:
data = []
for model_name, model in models.items():
    metrics = calculate_metrics(model, X_test, y_test)
    data.append([model_name, metrics['auc'], metrics['gini'], metrics['ks']])

# Create a Pandas DataFrame
df_metrics = pd.DataFrame(data, columns=["Model", "AUC", "Gini", "KS"])

# Display the table
display(df_metrics)

                 Model       AUC      Gini        KS
0  Logistic Regression  0.795864  0.591729  0.459894
1        Decision Tree  0.712522  0.425045  0.419638
2        Random Forest  0.733513  0.467025  0.416068
3              XGBoost  0.762542  0.525084  0.448031
4          Naive Bayes  0.778252  0.556505  0.430693